<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' 'unsafe-inline'; img-src 'self' data:;" />
  <title>Vault</title>
  <link rel="stylesheet" href="styles.css" />
  <link rel="stylesheet" href="../notas/stylesNotas.css">
  <link rel="stylesheet" href="../editor/stylesEditor.css">

</head>
<body>
  <div class="app">
    <app-nav id="nav-placeholder"></app-nav>
    <div id="view-container">
  </div>
  <script src="../notas/notasScript.js"></script>
  <script src="../../components/nav/nav-element.js"></script>
  <script src="../editor/editorScript.js"></script>
  <script src="renderer.js"></script>

</body>
</html>