<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Crear Bóveda</title>
    <link rel="stylesheet" href="styles.css" />
    
</head>
<body>
  <div class="card">
    <h1>Crear o seleccionar bóveda</h1>
    <p>Selecciona la carpeta donde se guarda tu bóveda </p>
    <div class="selector">
      <input type="text" id="rutaInput" placeholder="Ninguna carpeta seleccionada"  />
      <button id="btnSeleccionar">Examinar</button>
    </div>
    <button id="btnCrear" disabled>Crear bóveda</button>
    <div id="mensaje"></div>
  </div>

<script src="landingScript.js"></script>
</body>
</html>